<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Add new book:</div>
      <form #addBookForm="ngForm" (ngSubmit)="addNewBook()" autocomplete="off">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="title" class="form-label">Title</label>
              <input
                [(ngModel)]="model.title"
                type="text"
                class="form-control"
                name="title"
                required=""
              />
            </div>

            <div class="col-sm-12">
              <label for="author" class="form-label">Author</label>
              <input
                [(ngModel)]="model.author"
                type="text"
                class="form-control"
                name="author"
                required=""
              />
            </div>

            <div class="col-sm-12">
              <label for="year" class="form-label">Release date</label>
              <input
                [(ngModel)]="model.releaseDate"
                type="date"
                class="form-control"
                name="releaseDate"
                required=""
              />
            </div>

            <div class="col-sm-12">
              <label for="shortDescription" class="form-label"
                >Short description</label
              >
              <textarea
                [(ngModel)]="model.shortDescription"
                type="date"
                class="form-control"
                name="shortDescription"
                required=""
              ></textarea>
            </div>
            <div class="col-sm-12">
              <hr class="my-4" />
              <button class="w-100 btn btn-primary btn-lg" type="submit">
                Add new book
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
