<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <a
        routerLink="/"
        class="
          d-flex
          align-items-center
          mb-2 mb-lg-0
          text-white text-decoration-none
        "
      >
        <span class="fs-4 me-3">Open Library</span>
      </a>

      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a
            routerLink="/"
            routerLinkActive="fw-bold"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link px-2 text-white"
            >Home</a
          >
        </li>
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li>
            <a
              routerLink="/books"
              routerLinkActive="fw-bold"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link px-2 text-white"
              >Books</a
            >
          </li>
        </ng-container>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <a class="dropdown-toggle text-light" dropdownToggle
          >Welcome {{ user.username | titlecase }}</a
        >
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form
        *ngIf="(accountService.currentUser$ | async) === null"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
        class="row row-cols-lg-auto g-3 align-items-center ms-lg-auto"
      >
        <div class="col-12">
          <input
            name="username"
            [(ngModel)]="model.username"
            type="text"
            class="form-control"
            placeholder="Username"
          />
        </div>

        <div class="col-12">
          <input
            name="password"
            [(ngModel)]="model.password"
            type="password"
            class="form-control"
            placeholder="Password"
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</header>
